@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
background-color: wheat;
text-align: center;
display: grid;
width: 10%;
place-items: center;
justify-items: center;
font-family: 'Comfortaa', cursive;
padding: 10rem;
padding-left: 33rem;
color: cornflowerblue;
}

button{
  border-radius: 5px;
}

h1{
  color: cornflowerblue;
}

button{
  background-color: orchid;
  color: cyan;
 
}

button:hover{
  color: purple;
  transition: 3s;
  background-color: coral;
}